@font-face {
    font-family: stylus;
    src: url(./fonts/stylu.ttf);
}

* {
    box-sizing:border-box;
}

body {
    background: #FBDAB5;
    margin: 0;
    font-family: 'Quando','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.2em;
    letter-spacing: 0.03em;
}

.github-corner:hover .octo-arm {
    animation:octocat-wave 560ms ease-in-out
}

button { 
   font-family: 'Rosario','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bolder;
}

/*************HEADER SECTION****************/
header {
    height: 35%;
    height:40vh;
    background-color: rgb(252, 136, 4);
    background: url(images/italian-cuisine-2378729_960_720.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

header > span {
    font-family: 'Pacifico','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 114px;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FBDAB5;
    text-shadow: 0px 0px 5px #444400;
    position: absolute;
}

span:nth-child(1) {
    top: -5%;
    left:5%;   
}

span:nth-child(2) {
    top: 25%;
    left:25%;   
}

/*************MAIN SECTION****************/
main {
    padding: 10px;
    position: relative;
}

blockquote {
    font-family: stylus,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 0.03em;
    position: relative;
    margin: 10px 0;
}

.quote {
    font-family: 'Rosario','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.03em;
    position: absolute;
    font-size: 1.5em;
    font-weight: bold;
}

.quote:nth-child(1) {
    top:-18%;
    left:0%;
}

.quote:nth-child(2) {
    top:84%;
    left:92%;
}

.hori {
    border: 0.5px solid #CE760C;
    margin: 15px 0;
}

.intro p {
    margin-top: 1em;
}

ul {
    margin-top: 0;
    margin-left: 20px;
    padding: 10px 0;
}

ul button {
    margin-left: 20px;
    height: 20px;
    padding: 5px;

}

.foodlist {
    list-style-type: none;
    margin-left: auto;
}

.foodlist li {
    background: #999955;
    position: relative;
    padding: 5px;
}

.foodlist li:nth-child(even) {
    background: #DFDFA9;
}

.foodlist button {
    float: right;
    background: #C80C07;
    border-color: #C80C07;
}

.foodlist i {
    transform: translateY(-40%);
    color: #999955;  
}

.foodlist li:nth-child(even) i {
    color: #DFDFA9;
}

input {
    padding: 5px;
    font-size: 1.3em;
}

/*MQ For desktop layout*/
@media (min-width:992px) {

    .github-corner:hover .octo-arm {
        animation:none
    }
    
    .github-corner .octo-arm {
        animation:octocat-wave 560ms ease-in-out
    }

    .quote:nth-child(1) {
        top:-31%;
        left:4%;
    }

    .hori {      
        margin: 25px 0;
    }

    header > span {   
        position: relative;
        font-size: 92px;
    }

    header span:nth-child(1) {
         top:9vh;
         left:25vw;
    }

    header span:nth-child(2) {
        top:9vh;        
        left:27vw;
    }
}

@keyframes octocat-wave {
    0%, 100% {
        transform:rotate(0)
    }
    
    20%, 60% {
        transform:rotate(-25deg)
    } 
    40%, 80% {
        transform:rotate(10deg)
    }
}